html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }

  #red {
    background: #f43545;
  }
  #orange {
    background: #fa8909;
  }

  #yellow {
    background: yellow;
  }
  
  
  #green {
    background: #00ba71;
  }

  
  #blue {
    background: #00c2de;
  }
 
  
  #indigo {
    background: #00418d;
  }
 
  
  #violet {
    background: #5f2879;
  }
 

  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  
  